*
{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body
{
  background-color: rgb(237, 236, 232);

}

.section1-container
{
  width: 55%;
  display: grid;
  margin:300px 300px;
  grid-template-columns: 1fr 1fr;
  padding:2%;
  overflow:auto;
  background-color: white;
  border:1px solid lightgrey;
  padding-top: 5%
}

.main-story
{
  margin-right:10px

}

.sub-story
{
margin-left: 10%;

}

.third-story
{
  grid-column-start: 2;
  grid-column-end: 3;
}

.fourth-story
{
  grid-column-start: 1;
  grid-column-end: 3;
  background-color: lightgrey;
}

.fourth-story
{
  text-align: center;
  margin-top: 50px
}


.fourth-story > p
{
  text-align: center;
  padding-bottom:100px
}

.main-story > h3
{
  font-size: 1.5rem
}

.sub-story > h3
{
  font-size: 1.1rem
}

.third-story > h3
{
  font-size: 1.1rem
}

.japan-story > h3
{
  font-size: 1.1rem
}

.vinland-s2
{
  width: 586px;
  height: 346px;
  padding-bottom: 5%
}

.witcher-s2
{
  width: 310px
}

.follow
{
  padding-top: 4%
}

h3, h4
{
  font-family: 'Lato', sans-serif;
}

p
{
  font-family: 'Raleway', sans-serif;
  font-weight:bold;
  font-size: 0.9rem;
  padding-top: 2%;
  letter-spacing: 1px
}

h4
{
  padding-bottom: 2%;
  color: grey
}

.item
{

}

.japan
{
  padding-top: 20px
}

hr
{
  margin-top: 70px
}

@media(max-width:1280px)
{
  .section1-container
  {
    width: 100%
  }
}
